.movie-container {

}

.movie-details {
  width: 100%;

  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;

  &__wrapper {
    background-image: linear-gradient(to right, #0f4645 150px, #1b5d5cd6 100%);

    padding: 36px;
  }

  &__group {
    display: flex;
    margin-top: 12px;
  }

  &__poster {
    margin: 4px 12px 4px 4px;
    @media only screen and (max-width: 600px) {
      max-height: 150px;
    }
  }
}

.video-section {
  background-color: #f9f9f9;
  padding: 24px 0;
  margin-bottom: -17px;
}

// Responsive iframe container
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
