.brand {
  color: #f18825;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    height: 66px;
    margin-right: 12px;
  }
}

.search {
  padding: 2px 12px;
  margin-bottom: 24px;

  display: flex;
  align-items: center;

  &__input {
    flex: 1;
  }
}
